#include <WinRes.h>
#include <Windows.h>

#include "Resource.h"

IDR_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Save", ID_FILE_SAVE
    MENUITEM "&Exit", ID_FILE_EXIT
  END

  POPUP "&View"
  BEGIN
    MENUITEM "&Settings", ID_VIEW_SETTINGS
  END
END

IDD_DIALOG DIALOGEX 0, 0, 150, 140
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE |
  WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_BORDER
CAPTION "View settings"
BEGIN
  GROUPBOX "Colors", IDC_GROUPBOX, 4, 4, 142, 33
  PUSHBUTTON "&Background", ID_PUSHBUTTON_BG, 12, 15, 59, 15
  PUSHBUTTON "&Font", ID_PUSHBUTTON_FONT, 79, 15, 59, 15
  LTEXT "Font size:", IDC_TEXT_FONTSIZE, 4, 42, 142, 10
  CONTROL "", IDC_SLIDER_FONTSIZE, "msctls_trackbar32", WS_CHILD | WS_VISIBLE, 4, 55, 142, 20
  LTEXT "Transparency:", IDC_TEXT_TRANSPARENCY, 4, 77, 142, 10
  CONTROL "", IDC_SLIDER_TRANSPARENCY, "msctls_trackbar32", WS_CHILD | WS_VISIBLE, 4, 90, 142, 20
  CHECKBOX "Preview", IDC_CHECKBOX_PREVIEW, 8, 110, 100, 10
  PUSHBUTTON, "&OK", ID_PUSHBUTTON_OK, 60, 120, 40, 15
  PUSHBUTTON, "&Cancel", ID_PUSHBUTTON_CANCEL, 105, 120, 40, 15
END
